
<header>
<div class="center jumbotron vertical-center">
	<div class="container">
  <h1>Your Travel Worth Sharing</h1>
	<%= link_to "Sign up", '#', class: "btn btn-lg btn-white btn-ghost" %>
	</div>
</div>

</header>

<div class="container">
	<div class="row">
		<h1>What Is Travel Box</h1>
		<p class="center">TravelBoxの説明</p>
	</div>
</div>
