<div class="center jumbotron">
  <h1>Your Travel Worth Sharing</h1>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<div class="container bg-primary">
	<h1> What Is Travel Box </h1>
	</div>
	