// Place all the styles related to the Guides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#guide_hover:hover{
	color: #333;
  	background: #fff;
  	opacity: 0.8;
}

#guide_title_hover:hover{
	color: #333;
  	background: #fff;
  	opacity: 3;
  	text-decoration: none;
  	position: relative; top: 1px; left: 1px;
}

.guide-image {
	width:100%;
	max-height:350px;
}

.guide-detail-image {
  width:100%;
  max-height: 750px;
}