<footer class="footer">
<br>
<br> 
  <div class="container">
	<div class="row">
		<div class="col-lg-12 text-center">
		&copy; 2017 <%= link_to "Yunosuke Katayama", 'https://www.facebook.com/yunosuke.katayama',id:"guide_hover"%>
	</div>
</div>
<br>
<br>
</footer>